table {
   font-family: var(--text-font), sans-serif;  
   margin-top: 5px;
}


table th {
   border-bottom: solid 2px #999 !important;
   color: var(--primary);
   text-transform: uppercase;;
   text-align: center;
}

table th:first-of-type {
   color:transparent
}

table tr td:first-child {
   font-weight: 500 !important;
}