pre {
   font-size:1rem;
   font-weight: 100;
   overflow: hidden !important;
   background-color: var(--darkest);
}

p code { 
   font-family: var(--code-font), monospace;
   background-color: #292929 !important; 
   border: solid 5px #292929 !important;
   border-width: 5px 4px;
   color: wheat;
}

pre code {
   transform: scaleX(0.96) !important;   
}