table {
   font-family: var(--text-font), sans-serif;   
}


table th {
   border-bottom: solid 0px #555 !important;
   color: var(--primary);
   text-transform: uppercase;;
}

table tr td:first-child {
   font-weight: 500 !important;
}