body {
   width: 700px !important;
   margin: 0 auto !important;
   background: transparent !important;
}

body > * { margin-right: 20px; }

p[subtitle] {
   text-align: center !important;
   margin-top:-23px; 
   font-size:17px;
}