* {
   font-weight: 300;
   font-style: normal;
   box-sizing: border-box;
   font-style: normal !important;
   margin: 0;
   padding: 0;
}

body { background: var(--inverse); }

.vscode-body { 
   background: unset; 
   padding:10px 0 0 0; 
}


#folder {
   border: 0;
   width: 100%;
   height: auto;
   padding: 0;
}

P+iframe { margin-top: -20px; }

h1 { letter-spacing: 2px; }

strong { font-weight: bolder !important; }

body {
   height: auto;
   display: flex;
   min-height: 100%;
   font-size: 1.1rem;
   color: var(--default);
   background: var(--inverse);
   font-family: var(--text-font), monospace;
   flex-direction: column;
   font-weight: 1000;
   height: 100%;
}

p { margin-top: 15px }
p + p { margin-top: 5px }
h2 + p, h1+p, h1+center { margin-top: 0px }
p+h2, img+h2 { margin-top: 10px; }
/* aside+h2 { margin-top: 10px; } */
pre + [cols] {  margin-top: 10px; }
pre + pre {  margin-top: 20px; }
[cols] pre + pre {  margin-top: 0px; }

[upper] { text-transform: uppercase; }
[center] { text-align: center; }
[right] { text-align: right; }
[left] { text-align: left; }

blockquote {
   border: 0;
   background-color: transparent;
   text-align: center;
   margin-top: -20px;
   margin-bottom: -5px;
   padding: 0 75px;
   color: var(--subtile);
}

[data-kantu] { padding-left:0; }
