h1 {
   letter-spacing: 20px !important;
   text-transform: uppercase !important;
}

h2 {
   font-size: 2.7rem !important;
   text-align: left !important;
   font-weight: 100 !important;
   letter-spacing: 1px !important;
}

h3:before { content: '' !important }

h3 {
   /* letter-spacing: 3px !important; */
   text-transform: lowercase !important;
   margin-top: -90px !important;
   text-align: right !important;
   font-size: 2rem !important;
   color: #AAA !important;
}

h2 {
   letter-spacing: 3px !important;
   padding-bottom: 9px;
}

h2 strong:before {
   color: silver;
   content: ' • ';
   font-size: 40px !important;
   font-weight: bolder;
}