table {
   & tr td {
      padding: 10px 10px !important;
   }

   & tr td:not(:first-of-type) {
      text-align: left !important
   }

   & tr td:first-of-type {
      text-align: right !important;
      font-weight: 400 !important;
   }
}