* {
   font-weight: 300;
   font-style: normal;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.vscode-body { background-color: unset; }

* { font-style: normal !important; }

strong { font-weight: bolder !important; }

body {
   height: auto;
   display: flex;
   min-height: 100%;
   font-size: 1.1rem;
   color: var(--default);
   background: var(--inverse);
   font-family: var(--text-font), monospace;
   flex-direction: column;
   font-weight: 1000;
   height: 100%;
}

a {
   color: #4CA4ED;
   text-decoration: none;
   font-family: var(--text-font), sans-serif;
}

a:hover,
a:focus,
a:active,
input:checked {
   text-decoration: none;
   text-shadow: wheat 1px 0 300px;
   color: wheat;
   outline: none;
}

