h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   font-family: var(--text-font);
   color: var(--primary);
}

h1 {
   font-weight: 100;
   font-size: 2.5rem;
   text-align: center;
   letter-spacing: 7px;
   margin-bottom: 10px;
   padding:0;
   border:0;
}

h2 {
   font-weight: 300;
   font-size: 1.3rem;
   margin-bottom: 7px;
   border-bottom: 1px solid grey !important;
}

h3 {
   font-size: 1.1rem;
   margin-top: 0 auto;
}

h4 { font-size: 1.1rem; }


/* counting */

/*
body {
   counter-reset: h2;
}

h2::before {
   counter-increment: h2;
   content: counter(h2) ". ";
}

h3 a {
   font-weight: bolder;
}


h3:before {
   content: '● '
}

h3 {
   color: #AAA;
   font-weight: 300;
   margin-top: 0
} */