@import url('css/index.css');

#content {
   height: 100%;
   display: grid; 
   margin: 0 auto; 
   width: 100%;
   max-width: 900px;
   min-width: 700px;
   grid-template-columns: auto 1fr;
}

nav#menu { 
   padding: 10px; 
   position: fixed;
   background: var(--darkest);
   height: 100%;
}

hr {  
   border: solid 1px #555 !important;
   margin: 10px 0 10px 0;
}

header {
   grid-template-columns: auto 1fr;
   align-items: center;
   display: grid;
}

header > h1 {
   padding: 7px 0 0 0;
   filter: brightness(1.2);
}

main {
   padding: 10px;
   height: 100%;
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
}

pre { height: 100% !important; }

#reactful { color:wheat }
#reactful:hover { filter:invert(1) brightness(5) }
