@import url(./index.css);

title {
   color: wheat;
   display: block;
   font-size: 2rem;
   text-align: center;
   margin-bottom: -10px;
   letter-spacing: 9px;
}

/* centerlized article with 700px */
article {
   max-width: 700px;
   margin: 0 auto;
}