@import url(./overview.css);

h1 { 
   border-bottom: 0 !important; 
   letter-spacing: 1px !important;
}

fieldset:not(.hidden) > legend > b {
   color: wheat !important;
}

[id='helper'] { display:none !important }

title {
   margin-bottom: -10px;
}