* {
   font-weight: 300;
   font-style: normal;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   height: auto;
   min-height: 100%;
   font-family: var(--code-font), monospace;
}

body {
   display: flex;
   font-size: 1.1rem;
   color: var(--default);
   background: var(--inverse);
   flex-direction: column;
   font-weight: 1000;
   height: 100%;
}

a {
   color: #4CA4ED;
   text-decoration: none;
   font-family: var(--text-font), sans-serif;
}

a:hover,
a:focus,
a:active,
input:checked {
   text-decoration: none;
   text-shadow: wheat 1px 0 300px;
   color: wheat;
   outline: none;
}

pre {
   font-size: 1rem;
   font-weight: 100;
   font-family: var(--code-font), monospace;
   background-color: var(--darkest);
}

p code { 
   background-color: #333; 
   border: solid 5px #333;
   border-width: 3px 5px;
}