<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>React EVO - documentation</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
      <link rel="stylesheet" href="index.css">

      <style>
      </style>
   </head>
   <body class="vscode-body vscode-light">
      <h1>React EVO</h1>
      <h2 id="concept">Concept</h2>
      <p>Please, check this links bellow to framework introduction.</p>
      <h4 id="overview--preview---review"><a href="overview.html">Overview</a> | <ahref=" /preview.html">Preview</a> | <a
               href="/review.html">Review</a></h4>
      <h2 id="usage">Usage</h2>
      <p>With npm installed, type the command bellow with npm (or yarn).</p>
      <pre><code class="language-console"><div><span class="hljs-meta">&gt;</span><span class="bash"> npm i react-evo --save</span>
         <span class="hljs-meta">&gt;</span><span class="bash"> yarn add react-evo</span>
         </div></code></pre>
      <p>Replace ReactDOM pelo ReactEVO as bellow.</p>
      <pre><code class="language-tsx"><div>ReactEVO.createRoot(<span class="hljs-literal">true</span>, <span class="hljs-string">&quot;#root&quot;</span>, <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">App</span> /&gt;</span></span>, context)
         </div></code></pre>
      <p>And that is: state management and two-way data binding within a full declarative component.</p>
      <pre><code class="language-tsx"><div><span class="hljs-keyword">export</span> <span class="hljs-keyword">const</span> HelloWorld = <span class="hljs-function">() =&gt;</span> <span class="xml"><span class="hljs-tag">&lt;&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Hello, {store.user.name} !<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
            Name: <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">bind</span>=<span class="hljs-string">&quot;user.name&quot;</span>} /&gt;</span> 
         <span class="hljs-tag">&lt;/&gt;</span></span>
         
         <span class="hljs-keyword">const</span> Hello = <span class="hljs-function">(<span class="hljs-params">props, state</span>) =&gt;</span> <span class="xml"><span class="hljs-tag">&lt;&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Hello, { state.hello }<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">onInput</span>=<span class="hljs-string">{e</span> =&gt;</span> state.hello = e.target.value}
                  value={state.hello} /&gt;
         <span class="hljs-tag">&lt;/&gt;</span></span>
         
         <span class="hljs-keyword">import</span> { synchornizer } <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;react-evo&#x27;</span>
         
         <span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> synchornizer({
            <span class="hljs-attr">url</span>: <span class="hljs-string">&quot;http://sample/hello&quot;</span>,
            <span class="hljs-attr">get</span>: <span class="hljs-function">(<span class="hljs-params">s: store</span>) =&gt;</span> s.hello,
            <span class="hljs-attr">set</span>: <span class="hljs-function">(<span class="hljs-params">s: store, v: any</span>) =&gt;</span> s.hello = v
         })
         
         <span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> [pt, en]
         
         </div></code></pre>
      <h2 id="features">Features</h2>
      <p>The React EVO framework features covers:</p>
      <ul>
         <li>declarative style</li>
         <li>self-rendering state</li>
         <li>two-way data binding</li>
         <li>remote state synchronizers</li>
         <li>cache, retries and pooling</li>
         <li>attribute programming</li>
         <li>component-scoped CSS</li>
         <li>property routing</li>
      </ul>
      <h2 id="todo">TODO</h2>
      <ul>
         <li>two-data binding for checkbox, radio, etc</li>
         <li>performance (profiling)</li>
         <li>mover para o limite</li>
         <li>optional parameters router</li>
         <li>package modularation</li>
      </ul>
      <h2 id="bugs">BUGS</h2>
      <ul>
         <li>form two-way data binding (test)</li>
      </ul>
   </body>

</html>